VITE_WEATHER_SERVICE_KEY=
VITE_MID_WEATHER_SERVICE_KEY=
VITE_AIR_SERVICE_KEY=

VITE_WEATHER_NX=59
VITE_WEATHER_NY=126
VITE_MID_LAND_REG_ID=11B00000
VITE_MID_TEMP_REG_ID=11B10101
VITE_AIR_QUALITY_SIDO=서울
VITE_AIR_QUALITY_STATION=
